/* last edit */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


 *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



  body {
    background-image: url("../img/bgimage.jpg");
    background-color: #cccccc;
   }



nav {
    display: block;
    
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  
}

ul {
  position: fixed;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 40%;
  overflow: hidden;
  background-color:#ffffff;
  list-style-type: none;
}

/*ul {
  list-style-type: none;
  margin: 0 45%;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  
}*/

li {
  float:left;
  border-left: 2px solid black;
} 
#right-border{
  border-right: 1px solid black;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
}


header{
  position: relative;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 30%;
    
}
header h2{
    font-family: 'Great Vibes', cursive;
    float:left;
    color: #f0dfdf;
    display: inline-block;
    padding: 13px 0px 10px 10px;
    
}
header img{
    float: left;
    display: inline-block;
    background-color: #cccccc;
    }
    
    .show {
      display: none;
    }


 main{
    margin:  0 auto;
    padding: 20px;
    width: 90%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align: center; 
}





#con2{
    order: 1;
    flex-grow:10;
    overflow:hidden;
    border: 3px solid #000000;
    display: flex;
    height:400px;
     /* border:5px;
    border-color:rgb(225, 218, 218);
    border-style: solid; */
    margin-right:3px;
    
}

#con2 img{
  width: 100%; 
 height: auto;
  
  }

#con3{
    order:2;
    flex-grow: 3;
    position: absolute;
    top:110px;
    right: 5px;
    /* margin-right: 0px; */
  }
  #social{
  
  }

#con3 p{
  color: darkslateblue;
}

#social{
  display: block;
 
}
#social div{
  font-size: 4em;
  
}

  #section{
      display: block;
      padding: 4%;
  }
  #section p{
    background-color: rgb(124, 176, 222);
    padding: 15px;
    font-size: 1.4em;
    letter-spacing: 1px;
   
  }

/* ------------- start Listing Page--------------------------  */

.a-listing{
  float:left;
  
}

.a-listing h2{
color: #000000;
font-family: 'Lato', sans-serif;
padding-left: 2%;
font-size: 2rem;
background-color: rgb(136, 232, 165)
}

.a-listing p{
  color: #000000;
  font-size: 1.4rem;
  padding: 6%;
}


.container {
  display: flex;
  float: left;
  margin: 2% 3%;
}

.l-section {
  /* flex: 5; grow */
  flex-grow: 3;
  border: 1px solid;
  padding: 1%;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 100;
}

.l-section img{
  padding-top: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

footer{
  position: relative;
  left: 40%;
  float: left;

}
.on{
  display: none;
}
footer div{
  display: inline-block;
}




/* ------------------End Listing Page ---------------------- */

/* start contact page ------------------------------*/
.cf-body{
  /* overflow: hidden; */
}

.c-article {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  background-color: rgb(136, 232, 165);
 
}

.c-article h2{
text-align: center;
font-family: 'Poppins', sans-serif;

}







/* contact form here */



.cf{
  position: relative;
  top: 5%;
  left: 35%;
  margin-top: 5%;
  
}
.cf button{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
 input,textarea{
  width: 70%;
  height: 3em; 
}
#cf-textarea{
  height: 6em;
}
.display-block{
  display: block;
}

.inline *{
  display: flex;
}
.cf p {
  margin: 7px;
}
.cfp{
  padding-left: 4.2%;
}

#spn{
 display: flex;
  
}


/* contact form end */

#forcf{
  margin-top: 40px;
}

/* end contact page ------------------------------*/

/* ------MEDIA -------------*/
  @media screen and (max-width: 600px) {
    .header {
      position: relative;
      padding-top: 7%;
      padding-left: 28%;
    }

    .show {
      display:flex;
      padding-right: 15px;

    }

    .nav {
      display: none;
    }
  .main  {
    /* display: block; */
    width: 100%;
    display: grid;
  }
  
  #social,#con3{
  display: none;
  }

  /* Nav bar section */
 .nav {
    display: flex;
    position: relative;
    left: 0px;
    justify-content: space-between;
    /* padding-left: 10px; */
    background-color: #38b000;
    color: #FFFFFF;
   
  }
  

  
  .menu {
    float: left;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    position: absolute;
    /* left: 30px; */
    width: 100%;
    font-size: 18px;
    align-items: center;
  }
  /* end of navbar */

  .container {
    flex-direction: column;
  }
  #on{
    display: block;
  }

/* contact form query */
.c-article h2{
  font-size: 1.3em;

}

.cf{
  padding-top: 10%;
  position: relative;
  left: 0px;
  clear: both;
  width: 100%;
  }
.display-block{width: 100%;}

label{
  width: 20%;
}
  input,textarea {
  width: 70%;
  height: 3em;
  float: right;
  padding-top: 5px;
  position: relative;
  right: 3px;
  
  }
  
textarea{
  position: absolute;
  right: 10px;
}

.cf p{
  padding-left: 0%;
  height: 3em;
}
button{
position: relative;
top:30px;
left: 25%;

}


  /* contact form query */
  }

  @media screen and (max-width: 450px) {

    nav ul{
      position: relative;
      padding-top: 5%;
      padding-left: 17%;
      display: flex;
      float: left;
    }
    .header {
      position: relative;
      padding-left: 3%;
      left: 0;
      top: 10px;
    }
    .header img, h2 {
      float: left;
      
      position: relative;
      margin-top: 50px;
      margin-left: 5px;
    }
    .listcontact{
      position: relative;
      padding-top: 4%;
      padding-bottom: 4%;
      float: left;
      display: flex;
     
    }
    .a-listing h2{
      padding-left: 3%;
      display: block;
      float: left;
   }
   .a-listing p{
     display: block;
     float: left;
   }
   .on{
     display: block;
   }
   .cf button{
     position: relative;
     left: 10px;
   }

  }


  /* MEDIA QUERY ------------------ */

  @media screen and (max-width: 912px) and (min-width: 560px) {
    
    .header{ 
    padding-top: 7%;
    padding-bottom: 2%;
    padding-left: 30%;   
    }

    .cf{
      padding-top: 10%;
    }
    .cf input,textarea{
      width: 60%;
      height: 3em;
    }
  }