@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


 *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



  body {
    background-image: url("../img/bgimage.jpg");
    background-color: #cccccc;
   }



nav {
    display: block;
    
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  
}

ul {
  position: fixed;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 40%;
  overflow: hidden;
  background-color:#ffffff;
  list-style-type: none;
}

/*ul {
  list-style-type: none;
  margin: 0 45%;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  
}*/

li {
  float:left;
  border-left: 1px solid black;
} 
#right-border{
  border-right: 1px solid black;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
}


header{
  position: relative;
  padding-top: 3%;
  padding-left: 30%;
    
}
header h2{
    font-family: 'Great Vibes', cursive;
    float:left;
    color: #f0dfdf;
    display: inline-block;
    padding: 13px 0px 10px 10px;
}
header img{
    float: left;
    display: inline-block;
    }


 main{
    margin:  0 auto;
    padding: 20px auto;
    width: 90%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align: center; 
}





#con2{
    order: 1;
    flex-grow:10;
    overflow:hidden;
    
}

#con2 img{
  width: 100%; 
  
  }

#con3{
    order:2;
    flex-grow: 3;
  }
  #social{
    margin-right: 0px;
  }

#con3 p{
  color: darkslateblue;
}
#con2,#con3{
  display: flex;
  /* height: 30%; */
  /* display: flexbox; */
  height:400px;

  /* background-color:#369; */
  border:5px;
  border-color:rgb(225, 218, 218);
  border-style: solid;
  margin-right:3px;
  
}



#social{
  display: block;
 
}
#social div{
  font-size: 4em;
  
}

  #section{
      display: inline-block;
      padding: 4%;
  }
  #section p{
    background-color: aliceblue;
    padding: 10px;
  }

/* ------MEDIA -------------*/
  @media screen and (max-width: 600px) {
    .header {
      position: relative;
      padding-top: 7%;
      padding-left: 30%;
    }
    .nav {
      display: none;
    }
  .main  {
    /* display: block; */
    width: 100%;
    display: grid;
  }
  
  #social,#con3{
  display: none;
  }
  
  }

 


 